In [8]:
import pandas as pd

In [9]:
d = {
    "col1": [1, 2, 3, 4, 5],
    "col2": [6, 7, 8, 9, 10],
    "col3": [11, 12, 13, 14, 15],
}

In [10]:
df = pd.DataFrame(data=d)

In [11]:
print(df)

   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15

In [12]:
# no of rows
df.shape[0]

5

In [13]:
# no of columns  
df.shape[1]

3

In [15]:
# knowing about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    5 non-null      int64
 1   col2    5 non-null      int64
 2   col3    5 non-null      int64
dtypes: int64(3)
memory usage: 252.0 bytes

In [17]:
# analyze the data 
df.describe()

           col1       col2       col3
count  5.000000   5.000000   5.000000
mean   3.000000   8.000000  13.000000
std    1.581139   1.581139   1.581139
min    1.000000   6.000000  11.000000
25%    2.000000   7.000000  12.000000
50%    3.000000   8.000000  13.000000
75%    4.000000   9.000000  14.000000
max    5.000000  10.000000  15.000000